### Import Library File

In [1]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import randint as sp_randint

### Data Ingestion

In [2]:
data = pd.read_csv(r'C:/Users/ASHU RASA/Desktop/Archieve/Project/All_Classifier/2.Project datasets/Existing Base.csv')

### Data Preparation

In [3]:
data.head()

,REF_NO,children,age_band,status,occupation,occupation_partner,home_status,family_income,self_employed,self_employed_partner,...,Investment Tax Saving Bond,Home Loan,Online Purchase Amount,Revenue Grid,gender,region,Investment in Commudity,Investment in Equity,Investment in Derivative,Portfolio Balance
0,1,Zero,51-55,Partner,Manual Worker,Secretarial/Admin,Own Home,"<17,500, >=15,000",No,No,...,19.99,0.00,0.00,1,Female,Wales,74.67,18.66,32.32,89.43
1,2,Zero,55-60,Single/Never Married,Retired,Retired,Own Home,"<27,500, >=25,000",No,No,...,0.00,0.00,0.00,2,Female,North West,20.19,0.00,4.33,22.78
2,3,Zero,26-30,Single/Never Married,Professional,Other,Own Home,"<30,000, >=27,500",Yes,No,...,0.00,3.49,0.00,2,Male,North,98.06,31.07,80.96,171.78
3,5,Zero,18-21,Single/Never Married,Professional,Manual Worker,Own Home,"<15,000, >=12,500",No,No,...,0.00,0.00,0.00,2,Female,West Midlands,4.10,14.15,17.57,-41.70
4,6,Zero,45-50,Partner,Business Manager,Unknown,Own Home,"<30,000, >=27,500",No,No,...,0.00,45.91,25.98,2,Female,Scotland,70.16,55.86,80.44,235.02

In [4]:
data.dtypes

REF_NO                               int64
children                            object
age_band                            object
status                              object
occupation                          object
occupation_partner                  object
home_status                         object
family_income                       object
self_employed                       object
self_employed_partner               object
year_last_moved                      int64
TVarea                              object
post_code                           object
post_area                           object
Average Credit Card Transaction    float64
Balance Transfer                   float64
Term Deposit                       float64
Life Insurance                     float64
Medical Insurance                  float64
Average A/C Balance                float64
Personal Loan                      float64
Investment in Mutual Fund          float64
Investment Tax Saving Bond         float64
Home Loan                          float64
Online Purchase Amount             float64
Revenue Grid                         int64
gender                              object
region                              object
Investment in Commudity            float64
Investment in Equity               float64
Investment in Derivative           float64
Portfolio Balance                  float64
dtype: object

In [5]:
data.children.unique()

array(['Zero', '1', '2', '3', '4+'], dtype=object)

In [6]:
data.children.replace(['Zero','4+'],['0','4'],inplace=True)
data.children=pd.to_numeric(data.children)

In [7]:
data.children.unique()

array([0, 1, 2, 3, 4], dtype=int64)

In [8]:
data.age_band.unique()

array(['51-55', '55-60', '26-30', '18-21', '45-50', '36-40', '61-65',
       '31-35', '41-45', '71+', '22-25', '65-70', 'Unknown'], dtype=object)

In [9]:
data.age_band.replace(['18-21','22-25','26-30'],['0','0','0'],inplace=True)
data.age_band.replace(['31-35','36-40','41-45','45-50'],['1','1','1','1'],inplace=True)
data.age_band.replace(['51-55','55-60','61-65','65-70'],['2','2','2','2'],inplace=True)
data.age_band.replace(['71+','Unknown'],['3','3'],inplace=True)
data.age_band=pd.to_numeric(data.age_band)

In [10]:
data.age_band.unique()

array([2, 0, 1, 3], dtype=int64)

In [11]:
data.status.unique()

array(['Partner', 'Single/Never Married', 'Widowed', 'Divorced/Separated',
       'Unknown'], dtype=object)

In [12]:
data.status.replace(['Partner','Unknown'],['0','0'],inplace=True)
data.status.replace(['Single/Never Married','Widowed','Divorced/Separated'],['1','1','1'],inplace=True)
data.status=pd.to_numeric(data.status)

In [13]:
data.status.unique()

array([0, 1], dtype=int64)

In [14]:
data.occupation.unique()

array(['Manual Worker', 'Retired', 'Professional', 'Business Manager',
       'Secretarial/Admin', 'Unknown', 'Housewife', 'Other', 'Student'],
      dtype=object)

In [15]:
data.occupation.replace(['Manual Worker','Professional','Business Manager','Secretarial/Admin'],['0','0','0','0'],inplace=True)
data.occupation.replace(['Retired','Housewife','Unknown','Other','Student'],['1','1','1','1','1'],inplace=True)
data.occupation=pd.to_numeric(data.occupation)

In [16]:
data.occupation.unique()

array([0, 1], dtype=int64)

In [17]:
data.occupation_partner.unique()

array(['Secretarial/Admin', 'Retired', 'Other', 'Manual Worker',
       'Unknown', 'Professional', 'Business Manager', 'Housewife',
       'Student'], dtype=object)

In [18]:
data.drop(['occupation_partner'],axis=1,inplace=True)

In [19]:
data.home_status.unique()

array(['Own Home', 'Rent from Council/HA', 'Rent Privately',
       'Live in Parental Hom', 'Unclassified'], dtype=object)

In [20]:
data.home_status.replace(['Unclassified','Rent from Council/HA','Rent Privately'],['0','0','0'],inplace=True)
data.home_status.replace(['Own Home','Live in Parental Hom'],['1','1'],inplace=True)
data.home_status=pd.to_numeric(data.home_status)

In [21]:
data.home_status.unique()

array([1, 0], dtype=int64)

In [22]:
data.family_income.unique()

array(['<17,500, >=15,000', '<27,500, >=25,000', '<30,000, >=27,500',
       '<15,000, >=12,500', '>=35,000', '<12,500, >=10,000',
       '<25,000, >=22,500', '<10,000, >= 8,000', '<22,500, >=20,000',
       '< 8,000, >= 4,000', '<20,000, >=17,500', '< 4,000', 'Unknown'],
      dtype=object)

In [23]:
data.family_income.replace(['< 4,000'],['4'],inplace=True)
data.family_income.replace(['< 8,000, >= 4,000'],['6.25'],inplace=True)
data.family_income.replace(['<10,000, >= 8,000'],['9'],inplace=True)
data.family_income.replace(['<12,500, >=10,000'],['11'],inplace=True)
data.family_income.replace(['<15,000, >=12,500'],['13.5'],inplace=True)
data.family_income.replace(['<17,500, >=15,000'],['16'],inplace=True)
data.family_income.replace(['<20,000, >=17,500'],['18.5'],inplace=True)
data.family_income.replace(['<22,500, >=20,000'],['21'],inplace=True)
data.family_income.replace(['<25,000, >=22,500'],['23.5'],inplace=True)
data.family_income.replace(['<27,500, >=25,000'],['26'],inplace=True)
data.family_income.replace(['<30,000, >=27,500'],['28.5'],inplace=True)
data.family_income.replace(['>=35,000'],['35'],inplace=True)
data.family_income.replace(['Unknown'],['15'],inplace=True)
data.family_income.replace(['6'],['0'],inplace=True)
data.family_income=pd.to_numeric(data.family_income)

In [24]:
data.family_income.unique()

array([16.  , 26.  , 28.5 , 13.5 , 35.  , 11.  , 23.5 ,  9.  , 21.  ,
        6.25, 18.5 ,  4.  , 15.  ])

In [25]:
data.self_employed.unique()

array(['No', 'Yes'], dtype=object)

In [26]:
data.self_employed.replace(['Yes','No'],['1','0'],inplace=True)
data.self_employed=pd.to_numeric(data.self_employed)

In [27]:
data.self_employed.unique()

array([0, 1], dtype=int64)

In [28]:
data.self_employed_partner.unique()

array(['No', 'Yes'], dtype=object)

In [29]:
data.drop(['self_employed_partner'],axis=1,inplace=True)

In [30]:
data.drop(['TVarea','post_code','post_area','region'],axis=1,inplace=True)

In [31]:
data.gender.unique()

array(['Female', 'Male', 'Unknown'], dtype=object)

In [32]:
data.gender.replace(['Female','Male','Unknown'],['0','1','2'],inplace=True)
data.gender=pd.to_numeric(data.gender)

In [33]:
data.gender.unique()

array([0, 1, 2], dtype=int64)

In [34]:
data['Revenue Grid'].unique()

array([1, 2], dtype=int64)

In [35]:
data.dtypes

REF_NO                               int64
children                             int64
age_band                             int64
status                               int64
occupation                           int64
home_status                          int64
family_income                      float64
self_employed                        int64
year_last_moved                      int64
Average Credit Card Transaction    float64
Balance Transfer                   float64
Term Deposit                       float64
Life Insurance                     float64
Medical Insurance                  float64
Average A/C Balance                float64
Personal Loan                      float64
Investment in Mutual Fund          float64
Investment Tax Saving Bond         float64
Home Loan                          float64
Online Purchase Amount             float64
Revenue Grid                         int64
gender                               int64
Investment in Commudity            float64
Investment in Equity               float64
Investment in Derivative           float64
Portfolio Balance                  float64
dtype: object

### Data Segregation

In [36]:
from sklearn.model_selection import train_test_split

In [37]:
x=data.drop(['Revenue Grid'],axis=1)

In [38]:
y=data['Revenue Grid']

In [39]:
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.2,random_state=123)

### Model Training

#### Decision Tree Classifier By Default Parameters

In [40]:
#from sklearn.tree import DecisionTreeClassifier

In [41]:
CLF=DecisionTreeClassifier()

In [42]:
CLF.fit(train_x,train_y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [43]:
pred1=CLF.predict(test_x)

In [44]:
df_test=pd.DataFrame(list(zip(test_y,pred1)),columns=["real1","predicted1"])

In [45]:
k1=pd.crosstab(df_test['real1'],df_test['predicted1'])

In [46]:
k1

predicted1    1     2
real1
1           146    48
2            58  1779

In [47]:
TP1=k1.iloc[1,1]
TN1=k1.iloc[0,0]
FP1=k1.iloc[0,1]
FN1=k1.iloc[1,0]

In [48]:
p1=TP1+FN1
q1=TN1+FP1

#### Decision Tree Classifier Through Parameters

In [49]:
#from sklearn.tree import DecisionTreeClassifier

In [50]:
#CLF=DecisionTreeClassifier()

In [51]:
params={"max_depth": [3,5, None],
               "max_features": sp_randint(5, 11),
               "min_samples_split": sp_randint(5, 11),
              "min_samples_leaf": sp_randint(5, 11),
              "criterion": ["gini", "entropy"]}

In [52]:
rdm=RandomizedSearchCV(CLF, param_distributions=params,n_iter=50)

In [53]:
rdm.fit(train_x,train_y)

C:\Users\ASHU RASA\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

RandomizedSearchCV(cv='warn', error_score='raise-deprecating',
                   estimator=DecisionTreeClassifier(class_weight=None,
                                                    criterion='gini',
                                                    max_depth=None,
                                                    max_features=None,
                                                    max_leaf_nodes=None,
                                                    min_impurity_decrease=0.0,
                                                    min_impurity_split=None,
                                                    min_samples_leaf=1,
                                                    min_samples_split=2,
                                                    min_weight_fraction_leaf=0.0,
                                                    presort=False,
                                                    random_state=None,
                                                    splitter='best'),
                   i...
                                        'max_features': <scipy.stats._distn_infrastructure.rv_frozen object at 0x0000000F84AF8988>,
                                        'min_samples_leaf': <scipy.stats._distn_infrastructure.rv_frozen object at 0x0000000F84AF8FC8>,
                                        'min_samples_split': <scipy.stats._distn_infrastructure.rv_frozen object at 0x0000000F84AF8AC8>},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=False, scoring=None, verbose=0)

In [54]:
rdm.best_params_

{'criterion': 'gini',
 'max_depth': None,
 'max_features': 10,
 'min_samples_leaf': 9,
 'min_samples_split': 7}

In [55]:
pred2=rdm.predict(test_x)

In [56]:
df_test=pd.DataFrame(list(zip(test_y,pred2)),columns=["real2","predicted2"])

In [57]:
k2=pd.crosstab(df_test['real2'],df_test['predicted2'])

In [58]:
k2

predicted2    1     2
real2
1           139    55
2            52  1785

In [59]:
TP2=k2.iloc[1,1]
TN2=k2.iloc[0,0]
FP2=k2.iloc[0,1]
FN2=k2.iloc[1,0]

In [60]:
p2=TP2+FN2
q2=TN2+FP2

#### Random Forest Classifier

In [61]:
#from sklearn.ensemble import RandomForestClassifier

In [62]:
RFC=RandomForestClassifier(criterion= 'entropy',
        max_depth= None,
        max_features= 10,
        min_samples_leaf= 8,
        min_samples_split= 9)

In [63]:
RFC.fit(train_x,train_y)

C:\Users\ASHU RASA\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=10, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=8, min_samples_split=9,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [64]:
pred3=RFC.predict(test_x)

In [65]:
df_test=pd.DataFrame(list(zip(test_y,pred3)),columns=["real3","predicted3"])

In [66]:
k3=pd.crosstab(df_test['real3'],df_test['predicted3'])

In [67]:
k3

predicted3    1     2
real3
1           134    60
2            19  1818

In [68]:
TP3=k3.iloc[1,1]
TN3=k3.iloc[0,0]
FP3=k3.iloc[0,1]
FN3=k3.iloc[1,0]

In [69]:
p3=TP3+FN3
q3=TN3+FP3

#### Gradient Boosting Classifier

In [70]:
#from sklearn.ensemble import GradientBoostingClassifier

In [71]:
GBC=GradientBoostingClassifier()

In [72]:
params={"max_depth": [3,5, None],
              'n_estimators':[50,100,200],
              'learning_rate': [0.01,.05,0.1,0.4,0.8,1],
              "max_features": sp_randint(5, 11),
              #"min_samples_split": sp_randint(5, 11),
              #"min_samples_leaf": sp_randint(5, 11),
              #"criterion": ["gini", "entropy"]
       }

In [73]:
clg=RandomizedSearchCV(GBC, param_distributions=params)

In [74]:
clg.fit(train_x,train_y)

C:\Users\ASHU RASA\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

RandomizedSearchCV(cv='warn', error_score='raise-deprecating',
                   estimator=GradientBoostingClassifier(criterion='friedman_mse',
                                                        init=None,
                                                        learning_rate=0.1,
                                                        loss='deviance',
                                                        max_depth=3,
                                                        max_features=None,
                                                        max_leaf_nodes=None,
                                                        min_impurity_decrease=0.0,
                                                        min_impurity_split=None,
                                                        min_samples_leaf=1,
                                                        min_samples_split=2,
                                                        min_weight_fraction_leaf=0.0,
                                                        n_estimators=10...
                                                        warm_start=False),
                   iid='warn', n_iter=10, n_jobs=None,
                   param_distributions={'learning_rate': [0.01, 0.05, 0.1, 0.4,
                                                          0.8, 1],
                                        'max_depth': [3, 5, None],
                                        'max_features': <scipy.stats._distn_infrastructure.rv_frozen object at 0x0000000F84B45208>,
                                        'n_estimators': [50, 100, 200]},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=False, scoring=None, verbose=0)

In [75]:
pred4=clg.predict(test_x)

In [76]:
df_test=pd.DataFrame(list(zip(test_y,pred4)),columns=["real4","predicted4"])

In [77]:
k4=pd.crosstab(df_test['real4'],df_test['predicted4'])

In [78]:
k4

predicted4    1     2
real4
1           155    39
2            17  1820

In [79]:
TP4=k4.iloc[1,1]
TN4=k4.iloc[0,0]
FP4=k4.iloc[0,1]
FN4=k4.iloc[1,0]

In [80]:
p4=TP4+FN4
q4=TN4+FP4

#### Model Evaluation

## Decision Tree

In [81]:
Accuracy_DT=(TP1+TN1)/(p1+q1)

In [82]:
Accuracy_DT

0.947808961102905

In [83]:
Recall_DT=TP1/(TP1+FN1)

In [84]:
Recall_DT

0.9684267827980403

In [85]:
Precision_DT=TN1/(TN1+FP1)

In [86]:
Precision_DT

0.7525773195876289

In [87]:
F1_Score= 2* (Precision_DT * Recall_DT)/(Precision_DT+Recall_DT)

In [88]:
F1_Score

0.8469660605744399

## Decision Tree Through Parameters

In [89]:
Accuracy_DTM=(TP2+TN2)/(p2+q2)

In [90]:
Accuracy_DTM

0.947316592811423

In [91]:
Recall_DTM=TP2/(TP2+FN2)

In [92]:
Recall_DTM

0.9716929776810016

In [93]:
Precision_DTM=TN2/(TN2+FP2)

In [94]:
Precision_DTM

0.7164948453608248

## Random Forest

In [95]:
Accuracy_RF=(TP3+TN3)/(p3+q3)

In [96]:
Accuracy_RF

0.9611029049729197

In [97]:
Recall_RF=TP3/(TP3+FN3)

In [98]:
Recall_RF

0.9896570495372891

In [99]:
Precision_RF=TN3/(TN3+FP3)

In [100]:
Precision_RF

0.6907216494845361

## Gradient Boosting

In [101]:
Accuracy_GB=(TP4+TN4)/(p4+q4)

In [102]:
Accuracy_GB

0.9724273756770064

In [103]:
Recall_GB=TP4/(TP4+FN4)

In [104]:
Recall_GB

0.9907457811649428

In [105]:
Precision_GB=TN4/(TN4+FP4)

In [106]:
Precision_GB

0.7989690721649485

## Feature Importance

In [107]:
RFC.feature_importances_

array([8.80209056e-03, 6.85795623e-04, 1.36565765e-03, 2.90041462e-04,
       5.34631503e-04, 1.07817380e-04, 4.04230822e-03, 0.00000000e+00,
       7.05618771e-03, 8.53325552e-02, 1.79301303e-02, 4.05371936e-02,
       7.08432821e-02, 1.81005762e-02, 2.66569231e-02, 3.68617838e-02,
       1.36648130e-02, 1.19645230e-01, 9.99362720e-03, 3.51625242e-01,
       1.24283271e-04, 7.81560941e-02, 4.07764694e-02, 3.07546241e-02,
       3.61126428e-02])

In [108]:
feat_imp_df=pd.DataFrame({'features':train_x.columns,'importance':RFC.feature_importances_})

In [109]:
feat_imp_df

                           features  importance
0                            REF_NO    0.008802
1                          children    0.000686
2                          age_band    0.001366
3                            status    0.000290
4                        occupation    0.000535
5                       home_status    0.000108
6                     family_income    0.004042
7                     self_employed    0.000000
8                   year_last_moved    0.007056
9   Average Credit Card Transaction    0.085333
10                 Balance Transfer    0.017930
11                     Term Deposit    0.040537
12                   Life Insurance    0.070843
13                Medical Insurance    0.018101
14              Average A/C Balance    0.026657
15                    Personal Loan    0.036862
16        Investment in Mutual Fund    0.013665
17       Investment Tax Saving Bond    0.119645
18                        Home Loan    0.009994
19           Online Purchase Amount    0.351625
20                           gender    0.000124
21          Investment in Commudity    0.078156
22             Investment in Equity    0.040776
23         Investment in Derivative    0.030755
24                Portfolio Balance    0.036113

In [110]:
print(feat_imp_df.sort_values('importance',ascending=False))

                           features  importance
19           Online Purchase Amount    0.351625
17       Investment Tax Saving Bond    0.119645
9   Average Credit Card Transaction    0.085333
21          Investment in Commudity    0.078156
12                   Life Insurance    0.070843
22             Investment in Equity    0.040776
11                     Term Deposit    0.040537
15                    Personal Loan    0.036862
24                Portfolio Balance    0.036113
23         Investment in Derivative    0.030755
14              Average A/C Balance    0.026657
13                Medical Insurance    0.018101
10                 Balance Transfer    0.017930
16        Investment in Mutual Fund    0.013665
18                        Home Loan    0.009994
0                            REF_NO    0.008802
8                   year_last_moved    0.007056
6                     family_income    0.004042
2                          age_band    0.001366
1                          children    0.000686
4                        occupation    0.000535
3                            status    0.000290
20                           gender    0.000124
5                       home_status    0.000108
7                     self_employed    0.000000

In [111]:
a=train_x[['Online Purchase Amount','Investment Tax Saving Bond','Average Credit Card Transaction','Investment in Commudity','Life Insurance']]

In [112]:
b=test_x[['Online Purchase Amount','Investment Tax Saving Bond','Average Credit Card Transaction','Investment in Commudity','Life Insurance']]

In [113]:
a.head()

,Online Purchase Amount,Investment Tax Saving Bond,Average Credit Card Transaction,Investment in Commudity,Life Insurance
8570,0.00,29.49,34.98,7.00,0.00
5486,0.00,0.00,0.00,0.00,0.00
4805,0.00,0.00,0.00,69.66,283.86
9232,49.99,0.00,0.01,21.17,9.45
3168,0.00,19.98,0.00,0.00,0.00

In [114]:
rfc=RandomForestClassifier()

In [115]:
rfc.fit(a,train_y)

C:\Users\ASHU RASA\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [116]:
pred=rfc.predict(b)

In [117]:
df_test=pd.DataFrame(list(zip(test_y,pred)),columns=["real","predicted"])

In [118]:
k=pd.crosstab(df_test['real'],df_test['predicted'])

In [119]:
k

predicted    1     2
real
1          125    69
2           54  1783

In [120]:
TP=k.iloc[1,1]
TN=k.iloc[0,0]
FP=k.iloc[0,1]
FN=k.iloc[1,0]

In [121]:
k

predicted    1     2
real
1          125    69
2           54  1783

In [122]:
p=TP+FN
q=TN+FP

In [123]:
accuracy=(TP+TN)/(p+q)

In [124]:
accuracy

0.9394387001477105

In [125]:
Recall=TP/(TP+FN)

In [126]:
Recall

0.9706042460533478

In [127]:
Precision=TN/(TN+FP)

In [128]:
Precision

0.6443298969072165

In [129]:
from pandas_profiling import ProfileReport

C:\Users\ASHU RASA\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

# Creating Report

In [131]:
#creating Report in html
report = ProfileReport(data)
report.to_file(output_file='report.html')

HBox(children=(FloatProgress(value=0.0, description='Summarize dataset', max=40.0, style=ProgressStyle(descripâ€¦

HBox(children=(FloatProgress(value=0.0, description='Generate report structure', max=1.0, style=ProgressStyle(â€¦

HBox(children=(FloatProgress(value=0.0, description='Render HTML', max=1.0, style=ProgressStyle(description_wiâ€¦

HBox(children=(FloatProgress(value=0.0, description='Export report to file', max=1.0, style=ProgressStyle(descâ€¦

# Output Files

In [133]:
#creating results/Output .csv file
result = pd.DataFrame()
result['occupation'] = test_x['occupation']
result['Average A/C Balance'] = test_x['Average A/C Balance']

result["Revenue Grid"] =pred4
result = result.sort_index()
result.to_csv('Output_Gradient_Boosting.csv',index = False)

### end